/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), "Arial", sans-serif;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-color: var(--main-bg-color, #fff);
  background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7, #1a1a1a);
  background-attachment: fixed;
}

.header {
  margin-block-start: 100px;
  margin-block-end: 102px;
}

.card {
  max-inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  inline-size: 100%;
  background-color: var(--main-bg-color, #fff);
  justify-self: center;
  border: 2px solid var(--main-color, #000);
}

.header-card {
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  justify-items: center;
}

.header-title {
  font-family: var(--accent-font), "Courier New", monospace;
  text-transform: uppercase;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header-subtitle {
  font-family: var(--accent-font), "Courier New", monospace;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.card-title {
  font-variation-settings: "wght" var(--accent-font-weight, 700);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0;
  margin: 3px 10px;
  vertical-align: middle;
  text-align: left;
}

.card-image {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: 95%;
}

.card-image-container {
  position: relative;
  border-block-start: 2px solid var(--main-color, #000);
  border-block-end: 2px solid var(--main-color, #000);
}

.card-image-label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--accent-font), "Courier New", monospace;
  font-size: 14px;
  line-height: 100%;
  mix-blend-mode: hard-light;
  opacity: 50%;

  text-shadow: -1px 0 var(--label-stroke-color, #000),
    0 1px var(--label-stroke-color, #000), 1px 0 var(--label-stroke-color, #000),
    0 -1px var(--label-stroke-color, #000);
}

.card-content-container {
  padding: 25px;
  justify-items: right;
}

.card-text {
  display: flex;
  flex-direction: column;
  gap: 27px;

  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0;
  margin-block-end: 25px;
}

.card__icon-button {
  position: relative;
  background-color: transparent;
  border: none;
  block-size: 36px;
  inline-size: 39px;
  margin-inline-end: 6px;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.3s ease;
  padding: 0;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 2px var(--main-color, #000);
}

.button {
  position: relative;
  cursor: pointer;
  border: 2px solid var(--main-color, #000);
  font-family: var(--accent-font), "Courier New", monospace;
  font-size: 14px;
  background-color: var(--main-bg-color, #fff);
  transition: box-shadow 0.3s ease;

  padding: 0;
  appearance: none;
  text-align: center;
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  box-shadow: var(--main-color, #000) 2px 2px;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.button:hover::after {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: var(--main-bg-color, #fff);
}

.card__like-button {
  min-block-size: 38px;
  min-inline-size: 130px;
}

.save-button {
  padding: 18px 20px;
  margin-block-end: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.button__icon {
  position: relative;
  z-index: 10;
  mix-blend-mode: difference;
  color: var(--main-bg-color, #fff);
}

.window-button {
  min-block-size: 38px;
  inline-size: 100%;
  text-transform: uppercase;
  grid-column: 1 / span 2;
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-items: center;
}

.filter-brightness-high {
  filter: brightness(110%);
}

.filter-contrast-low {
  filter: contrast(90%);
}

.filter-grayscale-medium {
  filter: grayscale(60%);
}

.filter-contrast-high {
  filter: contrast(120%);
}

.filter-saturate-high {
  filter: saturate(130%);
}

.filter-hue-invert {
  filter: hue-rotate(90deg) invert(1);
}

.filter-sepia-brightness-low {
  filter: sepia(50%) brightness(85%);
}

.filter-opacity-low {
  filter: opacity(90%);
}

.dialog-window {
  justify-items: center;
  align-items: center;
  padding: 29px;
  max-inline-size: 353px;
  inline-size: 100%;

  background-color: var(--main-bg-color, #fff);
  border: 2px solid var(--main-color, #000);

  grid-template-columns: 39px auto;
  grid-template-rows: auto auto;
  gap: 20px;
  row-gap: 30px;
}

.dialog-window[open] {
  display: grid;
}

body:has(.dialog-window[open]) {
  overflow: hidden;
}

.window__icon {
  grid-column: 1;
  grid-row: 1;
}

.window-title {
  font-family: var(--accent-font), "Courier New", monospace;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 1;
  justify-self: start;
}

.dialog-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-block-end: 100px;
}

@supports (
  (text-stroke: 1px var(--label-stroke-color, #000)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color, #000))
) {
  .card-image-label {
    -webkit-text-stroke: 1px var(--label-stroke-color, #000);
    text-stroke: 1px var(--label-stroke-color, #000);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .card {
    max-inline-size: 375px;
  }

  .card-image-label {
    inset-inline-end: 13px;
  }

  .dialog-window {
    max-inline-size: 341px;
    padding: 28px 40px;
  }

  .save-button {
    display: grid;
    grid-template-rows: 35px auto;
    justify-items: center;
  }

  .save-button .button__icon {
    width: 28px;
    height: 28px;
  }

  .save-button__icon {
    grid-row: 1;
    scale: calc(1 + (21 / 29));
  }

  .save-button__text {
    grid-row: 2;
  }
}
