/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';

    --main-font-weight: 400;
    --accent-font-weight: 700;

    --main-bg-color: #fff;
    --main-color: #000;
    --label-stroke-color: #fff;
}